<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>353287651250-8p50bh7b7l5sjpmq9qpacu4v6pcnadfb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.353287651250-8p50bh7b7l5sjpmq9qpacu4v6pcnadfb</string>
	<key>API_KEY</key>
	<string>AIzaSyDx_tVG79WAC4yiF72Yo-f7taNnYqmY-w8</string>
	<key>GCM_SENDER_ID</key>
	<string>353287651250</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.harloch.Upp-App</string>
	<key>PROJECT_ID</key>
	<string>upp-app-99812</string>
	<key>STORAGE_BUCKET</key>
	<string>upp-app-99812.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:353287651250:ios:aaa20f7df67218df</string>
	<key>DATABASE_URL</key>
	<string>https://upp-app-99812.firebaseio.com</string>
</dict>
</plist>